@page "/management"

@using CleveCoding.Permissions.Configurations
@using CleveCoding.Permissions.Services
@using System.DirectoryServices.AccountManagement

@rendermode InteractiveServer
@attribute [StreamRendering]

@inherits ProtectedComponent

@inject PermissionConfigurations PermissionConfiguration
@inject IEnumerable<PermissionDescription> PermissionDescriptions
@inject IUserLookupService UserLookupService

<h1>Permissions Management</h1>
<p>Manage the access to resources on individual- or roles level.</p>

<div class="row mb-5">
    <div class="col-4">
        <h2>Users <small>(@(Users?.Count() ?? 0))</small></h2>
        <ol class="list-group list-group-numbered">
            @foreach (var user in Users ?? [])
            {
                <li class="list-group-item d-flex justify-content-between align-items-start @GetItemCssClass(user.SamAccountName)" @onclick="x => SelectUser(user)">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@user.DisplayName</div>
                        @user.EmailAddress
                        @if (!string.IsNullOrWhiteSpace(user.Description))
                        {
                            <div class="text-muted small alert alert-info m-0 mt-1 p-1 px-3">@user.Description</div>
                        }
                    </div>
                    <span class="badge bg-primary rounded-pill">@user.SamAccountName</span>
                </li>
            }
        </ol>
    </div>
    <div class="col-8">
        <h2>Permissions</h2>
        <p>Manage the permissions for @SelectedUser</p>
    </div>
</div>

@code {

    protected IEnumerable<string>? Roles { get; private set; }
    protected IEnumerable<UserPrincipal>? Users { get; private set; }

    protected string? SelectedUser { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        Roles = PermissionConfiguration.Roles;
        Users = UserLookupService.GetUsers()?
                    .OrderBy(x => x.DisplayName);

        await base.OnInitializedAsync();
    }

    private void SelectUser(UserPrincipal user)
    {
        SelectedUser = user.SamAccountName;
        StateHasChanged();
    }

    private string GetItemCssClass(string currentItem)
    {
        return SelectedUser?.Equals(currentItem, StringComparison.OrdinalIgnoreCase) == true
        ? "selected"
        : "";
    }

}
