@using CleveCoding.Kernel.Extensions
@using CleveCoding.Permissions.Configurations
@using CleveCoding.Permissions.Exceptions
@using CleveCoding.Permissions.Models
@using CleveCoding.Permissions.Services
@using System.DirectoryServices.AccountManagement
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer
@attribute [StreamRendering]

@inject PermissionConfigurations PermissionConfiguration
@inject IEnumerable<PermissionDescription> PermissionDescriptions
@inject IUserLookupService UserLookupService
@inject IPermissionService PermissionService
@inject IUserAccessor UserAccessor

<h1>Permissions Management</h1>
<p>Manage the access to resources on user- or role level.</p>

<div class="btn-group mb-1" role="group" aria-label="View Mode">
    <button type="button" class="btn btn-primary" @onclick="e => ChangeMode(ViewMode.Users)">Users</button>
    <button type="button" class="btn btn-primary" @onclick="e => ChangeMode(ViewMode.Roles)">Roles</button>
    <button type="button" class="btn btn-secondary" @onclick="e => ChangeMode(ViewMode.Audits)">Audits</button>
</div>

<div class="row mb-3">
    @if (_currentView != ViewMode.Audits)
    {
        <div class="col-3 bg-light rounded py-2">
            <h2>@_currentView</h2>
            <div class="form-field mb-1">
                <input type="text" class="form-control form-control-solid" @bind-value="_filter" @bind-value:event="oninput" placeholder="Filter by name.." />
            </div>
            <div class="optionslist d-flex flex-column vh-100 overflow-auto">
                @switch (_currentView)
                {
                    default:
                    case ViewMode.Users:
                        <UsersView Datasource="UsersDatasource" OnUserChange="ChangeUser" SelectedCssClass="GetSelectedCssClass" />
                        break;
                    case ViewMode.Roles:
                        <RolesView Datasource="RolesDatasource" OnRoleChange="ChangeRole" SelectedCssClass="GetSelectedCssClass" />
                        break;
                }
            </div>
        </div>
        <div class="col">
            <h2>Permissions</h2>
            @if (SelectedUser is null && SelectedRole is null)
            {
                <p>Make an selection to start.</p>
            }
            else
            {
                <p>Manage the permissions for <strong>@(SelectedUser?.DisplayName ?? SelectedRole)</strong>.</p>
            }

            <PermissionsView Group="Data"
                             Headers="_headers.Where(x => x.EqualsGroup(UserActionType.ViewIndex))"
                             Datasource="_selectedPermissions"
                             OnChanged="OnPermissionChanged" />
            <PermissionsView Group="I/O"
                             Headers="_headers.Where(x => x.EqualsGroup(UserActionType.Download))"
                             Datasource="_selectedPermissions"
                             OnChanged="OnPermissionChanged" />
            <PermissionsView Group="Reviews"
                             Headers="_headers.Where(x => x.EqualsGroup(UserActionType.Assign))"
                             Datasource="_selectedPermissions"
                             OnChanged="OnPermissionChanged" />
        </div>
    }
    else
    {
        <div class="col bg-light rounded">
            <h2>@_currentView</h2>
            <div class="form-field mb-1">
                <input type="text" class="form-control form-control-solid" @bind-value="_filter" @bind-value:event="oninput" placeholder="Filter by UserId or RoleId.." />
            </div>
            <div class="card mb-3">
                <QuickGrid Items="AuditsDatasource?.AsQueryable()" Pagination="Pagination" Class="table table-striped">
                    <TemplateColumn Title="Created on" Class="align-middle" SortBy="GridSort<UserPermissionAudit>.ByDescending(x => x.CreatedAt)">
                        @context.CreatedAt.ToLocalFormat()
                    </TemplateColumn>
                    <PropertyColumn Title="Changed by" Class="align-middle" Property="@(p => p.CreatedBy)" Sortable="true" />
                    <PropertyColumn Title="User" Class="align-middle" Property="@(p => p.UserId)" Sortable="true" />
                    <PropertyColumn Title="Role" Class="align-middle" Property="@(p => p.RoleId)" Sortable="true" />
                    <PropertyColumn Title="Resource" Class="align-middle" Property="@(p => p.Resource)" Sortable="true" />
                    <PropertyColumn Title="Action" Class="align-middle" Property="@(p => p.Action)" Sortable="true" />
                    <TemplateColumn Title="Change" Class="align-middle">
                        @context.OldValue -> @(!context.OldValue)
                    </TemplateColumn>
                </QuickGrid>
                <Paginator State="Pagination" />
            </div>
        </div>
    }
</div>

@code {

    enum ViewMode
    {
        Users = 0,
        Roles = 1,
        Audits = 2
    }

    /// <summary>
    /// Roles for permissions.
    /// </summary>
    protected IEnumerable<string>? Roles { get; private set; }

    /// <summary>
    /// Users for permissions.
    /// </summary>
    protected IEnumerable<UserPrincipal>? Users { get; private set; }

    /// <summary>
    /// Audits of permission changes.
    /// </summary>
    protected IEnumerable<UserPermissionAudit>? Audits { get; private set; }

    /// <summary>
    /// The users datasource with the filter applied.
    /// </summary>
    protected IEnumerable<UserPrincipal>? UsersDatasource => !string.IsNullOrWhiteSpace(_filter)
                                                                ? Users?.Where(x => x.DisplayName.Contains(_filter, StringComparison.CurrentCultureIgnoreCase))
                                                                : Users;

    /// <summary>
    /// The roles datasource with the filter applied.
    /// </summary>
    protected IEnumerable<string>? RolesDatasource => !string.IsNullOrWhiteSpace(_filter)
                                                                ? Roles?.Where(x => x.Contains(_filter, StringComparison.CurrentCultureIgnoreCase))
                                                                : Roles;

    /// <summary>
    /// The audits datasource with the filter applied.
    /// </summary>
    protected IEnumerable<UserPermissionAudit>? AuditsDatasource => !string.IsNullOrWhiteSpace(_filter)
                                                                ? Audits?.Where(x => (x.RoleId is not null && x.RoleId.Contains(_filter, StringComparison.CurrentCultureIgnoreCase))
                                                                                || (x.UserId is not null && x.UserId.Contains(_filter, StringComparison.CurrentCultureIgnoreCase)))
                                                                : Audits;

    /// <summary>
    /// The selected user in the Users-screen.
    /// </summary>
    protected UserPrincipal? SelectedUser { get; private set; }

    /// <summary>
    /// The selected role in the Roles-screen.
    /// </summary>
    protected string? SelectedRole { get; private set; }

    protected PaginationState Pagination = new() { ItemsPerPage = 30 };

    private string? _filter;
    private ViewMode _currentView;
    private IEnumerable<UserActionType> _headers = [];
    private IEnumerable<PermissionSet> _selectedPermissions = [];

    protected override async Task OnInitializedAsync()
    {
        if (UserAccessor.CurrentUser is null || !UserAccessor.IsAdmin(UserAccessor.CurrentUser))
        {
            // the permission management component
            // is hard secured for admins-only use.
            throw new ForbiddenException();
        }

        Roles = PermissionConfiguration.Roles.Except(PermissionConfiguration.AdminRoles);
        Users = UserLookupService.GetUsers()?.OrderBy(x => x.DisplayName);
        Audits = await PermissionService.GetAuditsAsync();
    }

    private void OnPermissionChanged(ChangeEventArgs args, UserPermission permission)
    {
        var newValue = (bool)args.Value!;
        if (permission.HasAccess == newValue)
        {
            return;
        }

        permission.HasAccess = newValue;

        if (_currentView == ViewMode.Users)
        {
            // save the user permission change.
        }
        else
        {
            // save the role permission change.
        }
    }

    private async Task ChangeRole(string role)
    {
        SelectedRole = role;

        var registeredPermissions = PermissionDescriptions.Select(x => new UserPermission
        {
            RoleId = role,
            Resource = x.Resource,
            Action = x.Action
        });

        _headers = registeredPermissions.Select(x => x.Action).Distinct().OrderBy(x => (int)x);
        _selectedPermissions = registeredPermissions
                                    .GroupBy(x => x.Resource)
                                    .Select(x => new PermissionSet
                                    {
                                        Resource = x.Key,
                                        Permissions = x
                                    }).ToList();

        var rolePermissions = await PermissionService.GetRolePermissionsAsync(SelectedRole);
        if (rolePermissions is null || !rolePermissions.Any())
        {
            StateHasChanged();
            return;
        }

        foreach (var permission in rolePermissions)
        {
            var foundPermission = _selectedPermissions.SelectMany(x => x.Permissions)
                                                        .FirstOrDefault(x => x.Resource.Equals(permission.Resource, StringComparison.CurrentCultureIgnoreCase) &&
                                                                                x.Action == permission.Action);
            if (foundPermission is null)
            {
                continue;
            }

            foundPermission.HasAccess = permission.HasAccess;
        }

        StateHasChanged();
    }

    private async Task ChangeUser(UserPrincipal user)
    {
        SelectedUser = user;

        var registeredPermissions = PermissionDescriptions.Select(x => new UserPermission
        {
            UserId = SelectedUser.SamAccountName,
            Resource = x.Resource,
            Action = x.Action
        });

        _headers = registeredPermissions.Select(x => x.Action).Distinct().OrderBy(x => (int)x);
        _selectedPermissions = registeredPermissions
                                    .GroupBy(x => x.Resource)
                                    .Select(x => new PermissionSet
                                    {
                                        Resource = x.Key,
                                        Permissions = x
                                    }).ToList();

        var userPermissions = await PermissionService.GetUserPermissionsAsync(SelectedUser.SamAccountName);
        if (userPermissions is null || !userPermissions.Any())
        {
            StateHasChanged();
            return;
        }

        foreach (var permission in userPermissions)
        {
            var foundPermission = _selectedPermissions.SelectMany(x => x.Permissions)
                                                        .FirstOrDefault(x => x.Resource.Equals(permission.Resource, StringComparison.CurrentCultureIgnoreCase) &&
                                                                                x.Action == permission.Action);
            if (foundPermission is null)
            {
                continue;
            }

            foundPermission.HasAccess = permission.HasAccess;
        }

        StateHasChanged();
    }

    private void ChangeMode(ViewMode view)
    {
        _currentView = view;

        // reset.
        _headers = [];
        _selectedPermissions = [];
        _filter = null;
        SelectedUser = null;
        SelectedRole = null;
    }

    private string GetSelectedCssClass(UserPrincipal user)
        => SelectedUser?.Equals(user) == true ? "selected" : "";

    private string GetSelectedCssClass(string role)
        => SelectedRole?.Equals(role) == true ? "selected" : "";

}
