@using CleveCoding.Kernel.Extensions
@using CleveCoding.Permissions.Configurations
@using CleveCoding.Permissions.Exceptions
@using CleveCoding.Permissions.Models
@using CleveCoding.Permissions.Services
@using System.DirectoryServices.AccountManagement
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer
@attribute [StreamRendering]

@inject PermissionConfigurations PermissionConfiguration
@inject IEnumerable<PermissionDescription> PermissionDescriptions
@inject IUserLookupService UserLookupService
@inject IPermissionService PermissionService
@inject IUserAccessor UserAccessor

<h1>Permissions Management</h1>
<p>Manage the access to resources on user- or role level.</p>

<div class="btn-group mb-1" role="group" aria-label="View Mode">
    <button type="button" class="btn btn-primary" @onclick="e => ChangeMode(ViewMode.Users)">Users</button>
    <button type="button" class="btn btn-primary" @onclick="e => ChangeMode(ViewMode.Roles)">Roles</button>
</div>

<div class="row mb-3">
    <div class="col-3 bg-light rounded py-2">
        <h2>@_currentView</h2>
        <div class="form-field mb-2 position-relative">
            <span class="clear-filter" title="Clear the filter." @onclick="e => _filter = null">X</span>
            <input type="text" class="form-control form-control-solid" @bind-value="_filter" @bind-value:event="oninput" placeholder="Filter by name.." />
        </div>
        <div class="optionslist d-flex flex-column vh-100 overflow-auto">
            @switch (_currentView)
            {
                default:
                case ViewMode.Users:
                    <UsersView Datasource="UsersDatasource" OnUserChange="ChangeUserAsync" SelectedCssClass="GetSelectedCssClass" />
                    break;
                case ViewMode.Roles:
                    <RolesView Datasource="RolesDatasource" OnRoleChange="ChangeRoleAsync" SelectedCssClass="GetSelectedCssClass" />
                    break;
            }
        </div>
    </div>
    <div class="col">
        <h2>Permissions</h2>
        @if (SelectedUser is null && SelectedRole is null)
        {
            <p>Make an selection to start.</p>
        }
        else
        {
            <p>Manage the permissions for <strong>@(SelectedUser?.DisplayName ?? SelectedRole)</strong>.</p>
        }
        <PermissionsView Group="Data"
                         Headers="_headers.Where(x => x.EqualsGroup(UserActionType.ViewIndex))"
                         Datasource="_selectedPermissions"
                         OnChanged="OnPermissionChangedAsync" />
        <PermissionsView Group="I/O"
                         Headers="_headers.Where(x => x.EqualsGroup(UserActionType.Download))"
                         Datasource="_selectedPermissions"
                         OnChanged="OnPermissionChangedAsync" />
        <PermissionsView Group="Reviews"
                         Headers="_headers.Where(x => x.EqualsGroup(UserActionType.Assign))"
                         Datasource="_selectedPermissions"
                         OnChanged="OnPermissionChangedAsync" />
    </div>
    @if (_audits is not null && _audits.Any())
    {
        <div class="col-3 position-relative bg-light rounded py-2">
            <span class="toggle-audits @(!_isAuditOpen ? "closed" : "")" title="@(!_isAuditOpen ? "Show" : "Hide") audits."
                  @onclick="x => _isAuditOpen = !_isAuditOpen">
                @(!_isAuditOpen ? "<" : ">")
            </span>
            <AuditsView Datasource="_audits" />
        </div>
    }
</div>

@code {

    /// <summary>
    /// The callback when an changed permission 
    ///  has been succesfully saved.
    /// </summary>
    [Parameter]
    public EventCallback<bool> OnSaved { get; set; }

    /// <summary>
    /// The callback when an error occured attempting 
    ///  to save an changed permission.
    /// </summary>
    [Parameter]
    public EventCallback<string> OnError { get; set; }

    /// <summary>
    /// The roles datasource with the filter applied.
    /// </summary>
    protected IEnumerable<string>? RolesDatasource => !string.IsNullOrWhiteSpace(_filter)
                                                                ? _roles?.Where(x => x.Contains(_filter, StringComparison.CurrentCultureIgnoreCase))
                                                                : _roles;

    /// <summary>
    /// The users datasource with the filter applied.
    /// </summary>
    protected IEnumerable<UserPrincipal>? UsersDatasource => !string.IsNullOrWhiteSpace(_filter)
                                                                ? _users?.Where(x => x.DisplayName.Contains(_filter, StringComparison.CurrentCultureIgnoreCase))
                                                                : _users;

    /// <summary>
    /// The selected user in the Users-screen.
    /// </summary>
    protected UserPrincipal? SelectedUser { get; private set; }

    /// <summary>
    /// The selected role in the Roles-screen.
    /// </summary>
    protected string? SelectedRole { get; private set; }

    private IEnumerable<string>? _roles;
    private IEnumerable<UserPrincipal>? _users;
    private IEnumerable<UserPermissionAudit>? _audits;
    private string? _filter;
    private ViewMode _currentView;
    private bool _isAuditOpen = true;
    private IEnumerable<UserActionType> _headers = [];
    private IEnumerable<PermissionSet> _selectedPermissions = [];

    protected override void OnInitialized()
    {
        if (UserAccessor.CurrentUser is null || !UserAccessor.IsAdmin(UserAccessor.CurrentUser))
        {
            // the permission management component
            // is hard secured for admins-only use.
            throw new ForbiddenException();
        }

        _roles = PermissionConfiguration.Roles.Except(PermissionConfiguration.AdminRoles);
        _users = UserLookupService.GetUsers()?.OrderBy(x => x.DisplayName);
    }

    private async Task OnPermissionChangedAsync(ChangeEventArgs args, UserPermission permission)
    {
        var newValue = (bool)args.Value!;
        if (permission.HasAccess == newValue)
        {
            return;
        }

        permission.HasAccess = newValue;

        try
        {
            if (_currentView == ViewMode.Users)
            {
                // save the user permission change.
                await PermissionService.SetUserPermissionsAsync(permission, newValue);

                // refresh the audits.
                _audits = await PermissionService.GetAuditsForUserAsync(permission.UserId!);
            }
            else
            {
                // save the role permission change.
                await PermissionService.SetRolePermissionsAsync(permission, newValue);

                // refresh the audits.
                _audits = await PermissionService.GetAuditsForRoleAsync(permission.RoleId!);
            }

            await OnSaved.InvokeAsync(true);

            StateHasChanged();
        }
        catch (Exception ex)
        {
            await OnError.InvokeAsync(ex.Message);
        }
    }

    private async Task ChangeRoleAsync(string role)
    {
        SelectedRole = role;
        _audits = await PermissionService.GetAuditsForRoleAsync(SelectedRole);

        var registeredPermissions = PermissionDescriptions.Select(x => new UserPermission
        {
            RoleId = role,
            Resource = x.Resource,
            Action = x.Action
        });

        _headers = registeredPermissions.Select(x => x.Action).Distinct().OrderBy(x => (int)x);
        _selectedPermissions = registeredPermissions
                                    .GroupBy(x => x.Resource)
                                    .Select(x => new PermissionSet
                                    {
                                        Resource = x.Key,
                                        Permissions = x
                                    }).ToList();

        var rolePermissions = await PermissionService.GetRolePermissionsAsync(SelectedRole);
        if (rolePermissions is null || !rolePermissions.Any())
        {
            StateHasChanged();
            return;
        }

        foreach (var permission in rolePermissions)
        {
            var foundPermission = _selectedPermissions.SelectMany(x => x.Permissions)
                                                        .FirstOrDefault(x => x.Resource.Equals(permission.Resource, StringComparison.CurrentCultureIgnoreCase) &&
                                                                                x.Action == permission.Action);
            if (foundPermission is null)
            {
                continue;
            }

            foundPermission.HasAccess = permission.HasAccess;
        }

        StateHasChanged();
    }

    private async Task ChangeUserAsync(UserPrincipal user)
    {
        SelectedUser = user;
        _audits = await PermissionService.GetAuditsForUserAsync(SelectedUser.SamAccountName);

        var registeredPermissions = PermissionDescriptions.Select(x => new UserPermission
        {
            UserId = SelectedUser.SamAccountName,
            Resource = x.Resource,
            Action = x.Action
        });

        _headers = registeredPermissions.Select(x => x.Action).Distinct().OrderBy(x => (int)x);
        _selectedPermissions = registeredPermissions
                                    .GroupBy(x => x.Resource)
                                    .Select(x => new PermissionSet
                                    {
                                        Resource = x.Key,
                                        Permissions = x
                                    }).ToList();

        var userPermissions = await PermissionService.GetUserPermissionsAsync(SelectedUser.SamAccountName);
        if (userPermissions is null || !userPermissions.Any())
        {
            StateHasChanged();
            return;
        }

        foreach (var permission in userPermissions)
        {
            var foundPermission = _selectedPermissions.SelectMany(x => x.Permissions)
                                                        .FirstOrDefault(x => x.Resource.Equals(permission.Resource, StringComparison.CurrentCultureIgnoreCase) &&
                                                                                x.Action == permission.Action);
            if (foundPermission is null)
            {
                continue;
            }

            foundPermission.HasAccess = permission.HasAccess;
        }

        StateHasChanged();
    }

    private void ChangeMode(ViewMode view)
    {
        _currentView = view;

        // reset.
        _headers = [];
        _selectedPermissions = [];
        _filter = null;
        SelectedUser = null;
        SelectedRole = null;
        _audits = null;
    }

    private string GetSelectedCssClass(UserPrincipal user)
        => SelectedUser?.Equals(user) == true ? "selected" : "";

    private string GetSelectedCssClass(string role)
        => SelectedRole?.Equals(role) == true ? "selected" : "";

    /// <summary>
    /// Helper enum for the screen.
    /// </summary>
    enum ViewMode
    {
        Users = 0,
        Roles = 1
    }

}
