@using CleveCoding.Kernel.Extensions
@using CleveCoding.Permissions.Configurations
@using CleveCoding.Permissions.Models
@using CleveCoding.Permissions.Services
@using System.DirectoryServices.AccountManagement
@using Microsoft.JSInterop

@rendermode InteractiveServer
@attribute [StreamRendering]

@inject PermissionConfigurations PermissionConfiguration
@inject IEnumerable<PermissionDescription> PermissionDescriptions
@inject IUserLookupService UserLookupService
@inject IPermissionService PermissionService
@inject IJSRuntime JSRuntime

<h1>Permissions Management</h1>
<p>Manage the access to resources on user- or role level.</p>

<div class="btn-group mb-1" role="group" aria-label="View Mode">
    <button type="button" class="btn btn-primary">Users</button>
    <button type="button" class="btn btn-primary">Roles</button>
    <button type="button" class="btn btn-secondary">Audits</button>
</div>

<div class="row mb-3">
    <div class="col-3 bg-light rounded py-2">
        <h2>Users <small>(@(Users?.Count() ?? 0))</small></h2>
        <div class="form-field mb-1">
            <input type="text" class="form-control form-control-solid" @bind-value="_filter" @bind-value:event="oninput" placeholder="Filter by name.." />
        </div>
        <div class="optionslist d-flex flex-column vh-100 overflow-auto">
            <UsersView Datasource="UsersDatasource" OnUserChange="ChangeUser" SelectedCssClass="GetSelectedCssClass" />
        </div>
    </div>
    <div class="col">
        <h2>Permissions</h2>
        @if (SelectedUser is not null)
        {
            <p>Manage the permissions for <strong>@SelectedUser?.DisplayName</strong>.</p>
        }
        else
        {
            <p>Select user to start.</p>
        }

        <PermissionsView Title="Data"
                         Headers="@_headers.Where(x => x.EqualsGroup(UserActionType.ViewIndex))"
                         Permissions="@_selectedPermissions.Select(x => x.CopyFor("Data"))"
                         OnChanged="OnPermissionChanged" />
        <PermissionsView Title="I/O"
                         Headers="@_headers.Where(x => x.EqualsGroup(UserActionType.Download))"
                         Permissions="@_selectedPermissions.Select(x => x.CopyFor("I/O"))"
                         OnChanged="OnPermissionChanged" />
        <PermissionsView Title="Reviews"
                         Headers="@_headers.Where(x => x.EqualsGroup(UserActionType.Assign))"
                         Permissions="@_selectedPermissions.Select(x => x.CopyFor("Reviews"))"
                         OnChanged="OnPermissionChanged" />
    </div>
</div>

@code {

    /// <summary>
    /// Roles for permissions.
    /// </summary>
    protected IEnumerable<string>? Roles { get; private set; }

    /// <summary>
    /// Users for permissions.
    /// </summary>
    protected IEnumerable<UserPrincipal>? Users { get; private set; }

    /// <summary>
    /// The users datasource with the filter applied.
    /// </summary>
    protected IEnumerable<UserPrincipal>? UsersDatasource => !string.IsNullOrWhiteSpace(_filter)
                                                                ? Users?.Where(x => x.DisplayName.Contains(_filter, StringComparison.CurrentCultureIgnoreCase))
                                                                : Users;

    /// <summary>
    /// The selected user in the Users-screen.
    /// </summary>
    protected UserPrincipal? SelectedUser { get; private set; }

    private string? _filter;
    private bool _hasChanged;
    private IEnumerable<UserActionType> _headers = [];
    private IEnumerable<PermissionSet> _selectedPermissions = [];

    protected override void OnInitialized()
    {
        Roles = PermissionConfiguration.Roles;
        Users = UserLookupService.GetUsers()?
                    .OrderBy(x => x.DisplayName);
    }

    private void OnPermissionChanged(ChangeEventArgs args, UserPermission permission)
    {
        var newValue = (bool)args.Value!;
        if (permission.HasAccess == newValue)
        {
            return;
        }

        permission.HasAccess = newValue;

        // mark an permission change.
        _hasChanged = true;
    }

    private async Task ChangeUser(UserPrincipal user)
    {
        // if user has changed,
        // but there are permission changes,
        // inform the user about the unsaved permission changes.
        if (_hasChanged && user != SelectedUser && !(await JSRuntime.InvokeAsync<bool>("confirm", "There are unsaved changes. Do you wish to proceed without saving?")))
        {
            return;
        }

        _hasChanged = false;
        SelectedUser = user;

        var registeredPermissions = PermissionDescriptions.Select(x => new UserPermission
        {
            UserId = SelectedUser.SamAccountName,
            Resource = x.Resource,
            Action = x.Action
        });

        _headers = registeredPermissions.Select(x => x.Action).Distinct().OrderBy(x => (int)x);
        _selectedPermissions = registeredPermissions
                                    .GroupBy(x => x.Resource)
                                    .Select(x => new PermissionSet
                                    {
                                        Resource = x.Key,
                                        Permissions = x
                                    }).ToList();

        var userPermissions = await PermissionService.GetUserPermissionsAsync(user.SamAccountName);
        if (userPermissions is null || !userPermissions.Any())
        {
            StateHasChanged();
            return;
        }

        foreach (var userPermission in userPermissions)
        {
            var foundPermission = _selectedPermissions.SelectMany(x => x.Permissions)
                                                        .FirstOrDefault(x => x.Resource.Equals(userPermission.Resource, StringComparison.CurrentCultureIgnoreCase) && x.Action == userPermission.Action);
            if (foundPermission is null)
            {
                continue;
            }

            foundPermission.HasAccess = userPermission.HasAccess;
        }

        StateHasChanged();
    }

    private string GetSelectedCssClass(UserPrincipal user)
        => SelectedUser?.Equals(user) == true ? "selected" : "";

}
